<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('./partials/head') %>

    <body class="vistas">
        <!--Header-->
        <%- include('./partials/header') %>

            <main>

                <div role="main" id="maincontent">



                    <div class="container px-2 page-designer-reference">
                        <div id="cambios" class="row mx-n2">
                            <div class="col-12 px-2">
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h1>Cambios</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <p><strong>¿Puedo cambiar mi producto por otro?</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p>¡Sí, podés elegir cualquier otro producto! Tené en cuenta que, para
                                                    realizar el cambio por otro producto, siempre el nuevo que
                                                    selecciones tiene que encontrarse en stock en la página al momento
                                                    de tu solicitud.</p>
                                                <p>Es importante que sepas que, en el caso de que elijas <u>solo el
                                                        cambio de talle</u> el precio del producto será el mismo y no se
                                                    modificará. En cambio, si elegís otro producto distinto para cambiar
                                                    (ya sea otro modelo o el mismo modelo, pero de diferente color) el
                                                    precio puede variar y, en ese caso, deberás abonar la diferencia.
                                                </p>
                                                <p>En cualquiera de estas situaciones, el valor será tomado del producto
                                                    inicial que figure en la factura original de compra (excluyendo el
                                                    costo del envío).</p>
                                                <p><br></p>
                                                <p>Tené presente que para los productos identificados como “LIQUIDACIÓN”
                                                    los cambios estarán condicionados a la disponibilidad de
                                                    stock.&nbsp;En el caso de querer cambiarlo por otro producto, podrás
                                                    hacerlo eligiendo cualquier artículo, no necesariamente que esté
                                                    incluido en esa categoría.</p>
                                                <p>¡También recordá que no se realiza devolución de dinero en las
                                                    sucursales! En el caso de que te arrepientas de la compra, podés
                                                    solicitar la devolución del dinero, la cual se realizará al mismo
                                                    medio de pago utilizado para realizar la compra.</p>
                                                <p><br></p>
                                                <p><strong>¿Cómo se realiza un cambio?</strong></p>
                                                <p><br></p>
                                                <p>Te brindamos dos opciones:</p>
                                                <p><br></p>
                                                <p>1. Podés acercarte con el producto que recibiste a cualquiera de
                                                    nuestras sucursales Moov, junto con la factura de compra y el
                                                    packaging original, y realizar el cambio en forma presencial.</p>
                                                <p>Te dejamos a continuación el link de acceso directo para que puedas
                                                    visualizar dónde se encuentran ubicadas nuestras tiendas físicas: <a
                                                        data-link-label="www.domino.com.ar/sucursales"
                                                        data-link-type="external" target="_self"
                                                        href="http://www.domino.com.ar/sucursales">www.domino.com.ar/sucursales</a>
                                                    ;</p>
                                                <p><br></p>
                                                <p>2. Podés solicitar que retiremos el producto por tu domicilio, lo que
                                                    se realizará con alguno de nuestros correos contratados. Una vez
                                                    retirado el producto, cuando llegue a nuestro depósito, se
                                                    gestionará el cambio y se despachará el nuevo producto que elegiste.
                                                </p>
                                                <p>¡Tené en cuenta que el primer cambio es siempre sin cargo!&nbsp;</p>
                                                <p>Si elegís esta opción, mandanos un email con los datos de tu orden a
                                                    <a data-link-label="ecommerce@domino.com.ar"
                                                        data-link-type="external" target="_self"
                                                        href="mailto:ecommerce@domino.com.ar">ecommerce@domino.com.ar</a>
                                                    o contactanos a través del 0810-888-3399.
                                                </p>
                                                <p><br></p>
                                                <p><strong>¿Cuánto tiempo tengo para hacer un cambio?</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p>Tenés hasta 30 (treinta) días corridos contados desde que recibiste
                                                    el producto para realizar el cambio. El producto, al momento de
                                                    devolverlo, debe presentar las mismas condiciones en las que fue
                                                    entregado, es decir, debe estar en perfectas condiciones, sin uso,
                                                    etiqueta y envoltorio original. Para hacer efectivo el cambio es
                                                    obligatorio llevar la factura impresa <span style="color: black;">o
                                                        en un dispositivo móvil.</span></p>
                                                <p>En el caso de tratarse de un cambio por falla contás con 180 (ciento
                                                    ochenta) días corridos desde la recepción del producto para realizar
                                                    el reclamo correspondiente. Para este tipo de reclamos siempre es
                                                    importante que tengas la factura de compra y que el plazo de la
                                                    garantía se encuentre vigente.</p>
                                                <p><br></p>
                                                <p><strong>¿Realizar un cambio tiene costo?</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p>¡El primer cambio es gratis! Tanto en sucursal como a domicilio.</p>
                                                <p>A partir del segundo:</p>
                                                <p><br></p>
                                                <p>• El costo del cambio (envío y retiro) se encuentra sujeto al
                                                    domicilio de entrega.</p>
                                                <p><br></p>
                                                <p>• En sucursal, ¡sigue siendo gratis! 😉</p>
                                                <p><br></p>
                                                <p>Si el motivo del cambio es porque recibiste un producto distinto al
                                                    que compraste, el mismo no tendrá un costo asociado.</p>
                                                <p><br></p>
                                                <p><strong>¡Importante para considerar!</strong></p>
                                                <p><br></p>
                                                <p>•&nbsp;DABRA S.A. se reserva el derecho a tener diferentes precios de
                                                    productos, distintas promociones y/o descuentos tanto en sus tiendas
                                                    de e-commerce como en sus tiendas físicas.</p>
                                                <p>• Si el motivo del cambio es sobre un producto con alguna falla o un
                                                    producto distinto al que adquiriste, deberás enviar un correo con
                                                    fotos en las cuales se pueda visualizar la falla, la etiqueta y/o
                                                    caja del producto a <a data-link-label="ecommerce@domino.com.ar"
                                                        data-link-type="external" target="_self"
                                                        href="mailto:ecommerce@domino.com.ar">ecommerce@domino.com.ar</a>
                                                </p>
                                                <p>Una vez enviado el correo, nos pondremos en contacto y te estaremos
                                                    informando cuáles son los pasos por seguir para la gestión
                                                    correspondiente.</p>
                                                <p>•&nbsp;Al realizar tu cambio por este medio, si el producto es de
                                                    mayor valor, podrás abonar la diferencia a través de Mercado Pago
                                                    (utilizando tu tarjeta de débito, crédito o Pago Fácil). Y si la
                                                    diferencia es a favor, el reintegro se generará al medio de pago
                                                    elegido en el momento que realizaste tu compra. Si abonaste
                                                    utilizando Mercado Pago, el reintegro se realizará en tu cuenta
                                                    personal y si utilizaste una tarjeta de débito o crédito, el
                                                    reintegro lo podrás ver reflejado en tu próximo resumen (es
                                                    importante en este caso que tengas en cuenta la fecha del cierre de
                                                    la tarjeta).</p>
                                                <p><br></p>
                                                <p><br></p>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </main>

            <!--Footer-->
            <%- include('./partials/footer') %>


                <%- include('./partials/scripts') %>
    </body>

</html>