<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%-include('./partials/head')%> 

<body class="carrito">
    
    <%-include('./partials/header')%>
    <!--Header-->
    <% if (locals.userLogin) { %>
        <main>
            <div class="container-primero">
                <div class="bienvenida">
                    <div class="saludo">
                        <p>Hola Usuario!</p>
                        <h3>Tu carrito</h3>
                    </div>
            
                </div>
                <div class="primero">
                        <div class="productos">
                            <article>
                                <img src="/img/buzo.jpg" alt="buzo">
                                <div class="caja-normal">
                                    <div class="descripcion">
                                        <p>Nombre del Producto</p>
                                        <p>$xxxxx</p>
                                        <p>N unidades</p>
                                        <div class="heart"><i class="far fa-heart"></i></div>
                                    </div>
                                   
                                    <div class="box-2">
                                        <p>Color: color</p>
                                        <div class="form-cantidad">
                                            <form action="">
                                                <select name="" class="cantidad">
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                    <option value="">5</option>
                                                    <option value="">6</option>
                                                    <option value="">7</option>
                                                    <option value="">8</option>
                                                    <option value="">9</option>
                                                    <option value="">10</option>
                                                 </select>
                                            </form>
                                        </div>
                                        <div class="button-eliminar">
                                            <p>Eliminar</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="caja-mobile">
                                    <p>Producto No. N</p>
                                    <p2>Envio gratis o $XXXX</p2>
                                    <p class="eliminar">Eliminar</p>
                                </div>
                            </article>
                            <article>
                                <img src="/img/buzo2.jpg" alt="buzo">
                                <div class="caja-normal">
                                    <div class="descripcion">
                                        <p>Nombre del Producto</p>
                                        <p>$xxxxx</p>
                                        <p>N unidades</p>
                                        <div class="heart"><i class="far fa-heart"></i></div>
                                    </div>
                                   
                                    <div class="box-2">
                                        <p>Color: color</p>
                                        <div class="form-cantidad">
                                            <form action="">
                                                <select name="" class="cantidad">
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                    <option value="">5</option>
                                                    <option value="">6</option>
                                                    <option value="">7</option>
                                                    <option value="">8</option>
                                                    <option value="">9</option>
                                                    <option value="">10</option>
                                                 </select>
                                            </form>
                                        </div>
                                        <div class="button-eliminar">
                                            <p>Eliminar</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="caja-mobile">
                                    <p>Producto No. N</p>
                                    <p2>Envio gratis o $XXXX</p2>
                                    <p class="eliminar">Eliminar</p>
                                </div>
                            </article>
                        
                        </div>
                        
        
                    <section>
                        <div class="aside">
                            <div class="button-normal">
                                <button type="button">Ir a Pagar</button>
                            </div>
            
                            <div class="aside-pago">
                                <p>Resumen del pedido</p>
                                <div class="box-pago">
                                    <p>N+1 productos</p>
                                    <p class="item">$XXXXX</p>
                                </div>
                                <div class="box-pago">
                                    <p>Entrega</p>
                                    <p class="item">Envio gratis o $XXXXX</p>
                                </div>
                                <div class="box-pago">
                                    <p>TOTAL</p>
                                    <p class="item">$XXXXX</p>
                                </div>
                                <div class="box-pago">
                                    <form action="/carrito" method="POST">
                                        <input type="text" name="codigo" placeholder="¡Ingresa tu codigo promocional!">
        
            
                                    </form>
                                    <button type="button">Aplicar</button>
            
                                </div>
                                <div class="box-pago">
                                    <p>Metodos de pago</p>
                                    <div class="tarjetas">
                                        <i class="far fa-credit-card"></i>
                                        <i class="far fa-credit-card"></i>
                                        <i class="far fa-credit-card"></i>
                                        <i class="far fa-credit-card"></i>
                                        <i class="far fa-credit-card"></i>
                                        <i class="far fa-credit-card"></i>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                        
                        <div class="aside-mobile">
                                <div class="total">
                                    <p>TOTAL</p>
                                    <p class="precio">$XXXX</p>
                                
                                </div>
                                <div class="button-pagar">
                                    <button type="button">Ir a Pagar</button>
                                </div>
                                <div class="codigo-promocional">
                                    <form action="/carrito" method="POST">
                                        <input class="promo" type="text" name="codigo" placeholder="¡Ingresa tu codigo promocional!"><button type="button">Aplicar</button>
                                    </form>
                                </div>
                        </div>     
                    </section>
                </div>
    <% } else { %>
            <p>Necesitas Logearte!!</p>
        <% } %> 

            <div class="sugerencias">
                <div class="titulo">
                    <h3>También podría gustarte...</h3>
                </div>
                <section>
                    <article>
                        <img src="/img/recomendacion1.jpg" alt="recomendacion1">
                        <div class="box">
                            <p>Producto...</p>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="precio">
                                <p>$XXXX</p>
                            </div>
                        </div>
    
                    </article>
                    <article>
                        <img src="/img/recomendacion2.jpg" alt="recomendacion2">
                        <div class="box">
                            <p>Producto...</p>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="precio">
                                <p>$XXXX</p>
                            </div>
                        </div>
    
                       
                    </article>
                    <article>
                        <img src="/img/recomendacion3.jpg" alt="recomendacion3">
                        <div class="box">
                            <p>Producto...</p>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="precio">
                                <p>$XXXX</p>
                            </div>
                        </div>
    
                    </article>


                </section>
                



            </div>
            <div class="locales">
                <div class="tiendas">
                    <h3>nuestros locales</h3>
                    <p>visitanos en nuestros locales con todos los <br> protocolos de seguridad necesarios para vos</p>
                    <button type="button">VER LOCALES</button>
                    
                </div>
            </div>
            <div class="newsletter">
                <div class="text">
                    <h3>Newsletter</h3>
                    <p>Suscribite y enterate de las <br> novedades</p>
                </div>
                <form action="/carrito" method="POST">
                    <input class="news" type="text" name="codigo" placeholder="¡Ingresa tu mail!"><button type="button">SUSCRIBITE</button>
                </form>
            </div>
            

           
           
        </div>

    </main>

    <!--Footer-->
    <%-include('./partials/footer')%>
    <!--Scripts-->
    <%-include('./partials/scripts') %> 
    
</body>
</html>