<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('./partials/head') %>

    <body class="vistas">
        <!--Header-->
        <%- include('./partials/header') %>

            <main>

                <div role="main" id="maincontent">



                    <div class="container px-2 page-designer-reference">
                        <div id="cambios" class="row mx-n2">
                            <div class="col-12 px-2">
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h1>Compra</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <p><strong>¿Cómo hago para comprar en Domino?</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <div class="answer compra-1Answer collapse show" id="compra-1Answer">
                                                    <p><strong
                                                            style="color: rgb(51, 51, 51); background-color: transparent;">1.
                                                            Elegí los productos.</strong>
                                                        Podés buscar productos desde el menú superior donde se
                                                        encuentran las
                                                        categorías por genero y ofertas. Si buscás un producto en
                                                        particular, podés ingresar el nombre en el buscador
                                                        principal que se encuentra en el sector superior
                                                        en la parte central.</p>
                                                    <p><br></p>
                                                    <p><strong
                                                            style="color: rgb(51, 51, 51); background-color: transparent;">2.
                                                            Seleccioná lo que queres y agregalo a tu
                                                            carrito.</strong>
                                                        Hace click sobre el producto que querés comprar. Seleccioná
                                                        el color, talle y cantidad deseada. Presioná el botón
                                                        "Comprar". Podés agregar más productos a la compra o
                                                        clickear en el botón del carrito en el sector inferior
                                                        derecho para finalizar tu compra.</p>
                                                    <p><br></p>
                                                    <p><strong
                                                            style="color: rgb(51, 51, 51); background-color: transparent;">3.
                                                            Tu carrito.</strong>
                                                        Una vez en el carrito chequeá que los productos que están
                                                        son los que elegiste y avanzá al checkout presionando el
                                                        botón "Finalizar Compra".</p>
                                                    <p><br></p>
                                                    <p><strong
                                                            style="color: rgb(51, 51, 51); background-color: transparent;">4.
                                                            Datos de facturación. </strong>>Finalmente
                                                        deberás completar los datos que te vamos solicitando: datos
                                                        personales, dirección de entrega, modo de envío, forma de
                                                        pago.</p>
                                                    <p><br></p>
                                                    <p>Y listo! Ahora solo resta esperar a que llegue tu
                                                        pedido.</p>
                                                    <p><br><br></p>
                                                </div>
                                            </div>
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <p><strong>¿Cómo hago para seguir mi pedido?</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <div class="answer compra-1Answer collapse show" id="compra-1Answer">
                                                    <p>Una vez que tu pedido haya sido despachado, recibirás un correo
                                                        electrónico informando el número de seguimiento, que te
                                                        permitirá ver dónde se encuentra a través del sitio web de la
                                                        transportadora correspondiente.</p>
                                                </div>
                                                <p><br><br></p>
                                            </div>
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <p><strong>¿Cómo hago para cancelar mi pedido?</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <div class="answer compra-1Answer collapse show" id="compra-1Answer">
                                                    <p>Para cancelar tu pedido deberás ponerte en contacto con nosotros
                                                        enviándonos un mail a <a href="mailto:ecommerce@domino.com.ar"
                                                            target="_self" data-link-type="external"
                                                            data-link-label="ecommerce@moovbydexter.com.ar">ecommerce@domino.com.ar</a>
                                                    </p>
                                                </div>
                                                <p><br><br></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </main>

            <!--Footer-->
            <%- include('./partials/footer') %>


                <%- include('./partials/scripts') %>
    </body>

</html>