</html>
<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('./partials/head') %>

    <body class="vistas">
        <!--Header-->
        <%- include('./partials/header') %>

            <main>

                <div role="main" id="maincontent">



                    <div class="container px-2 page-designer-reference">
                        <div id="entregas" class="row mx-n2">
                            <div class="col-12 px-2">
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h1>Envios</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <p>Los envíos se realizan en toda la República Argentina, excepto a la
                                                    provincia de Tierra del Fuego.</p>
                                                <p>La entrega se realizará en la dirección que nos indiques al momento
                                                    de realizar tu compra, de lunes a viernes, entre las 9 y las 18 hs,
                                                    con excepción de los feriados nacionales. Cuando la fecha de entrega
                                                    coincida con un día feriado, se la pasará al próximo día hábil.</p>
                                                <p><br></p>
                                                <p>No se entregarán órdenes a casillas de correo o apartados postales.
                                                </p>
                                                <p><br></p>
                                                <p>También podés disponer de la opción del retiro en sucursal.</p>
                                                <p><br></p>
                                                <h2>¿Cuáles son los costos de los envíos?</h2>
                                                <p>Normal AMBA $299</p>
                                                <p>Normal PBA $399</p>
                                                <p>Normal CENTRO $399</p>
                                                <p>Normal CUYO $399</p>
                                                <p>Normal NEA $449</p>
                                                <p>Normal NOA $449</p>
                                                <p>Normal PATAGÓNIA $549</p>
                                                <p>Express CABA $499</p>
                                                <p>Express 1ER CORDÓN GBA $599</p>
                                                <p>Express 2DO CORDÓN GBA $699</p>
                                                <p>Express CÓRDOBA CAPITAL $599</p>
                                                <p>Express ROSARIO $599</p>
                                                <p>Entrega en sucursal $220</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>¿Cuánto tarda en llegar mi pedido?</h2>
                                                <p>El tiempo de entrega depende de la disponibilidad del producto, del
                                                    tiempo de envío y de la aprobación del medio de pago. Los días que
                                                    se indiquen son estimativos, y corren siempre a partir del momento
                                                    en que el pedido se despacha.&nbsp;</p>
                                                <p><br></p>
                                                <p>Normal AMBA 2-3 DÍAS HÁBILES</p>
                                                <p>Normal GRANDES CIUDADES 4-5 DÍAS HÁBILES</p>
                                                <p>Normal INTERIOR DE INTERIOR 7-8 DÍAS HÁBILES</p>
                                                <p>Express EN EL DÍA, CABA. Válido para días hábiles, comprando antes de
                                                    las 12.</p>
                                                <p>Express EN EL DÍA, 1ER y 2DO CORDÓN GBA. Válido para días hábiles,
                                                    comprando antes de las 12.</p>
                                                <p>Express CÓRDOBA CAPITAL y ROSARIO. Válido para días hábiles.
                                                    Comprando antes de las 13 tu pedido llega al día siguiente.
                                                    Comprando después de las 13, llega en 48 hs.</p>
                                                <p><br></p>
                                                <p><em style="color: rgb(18, 18, 18);">Aclaración: por el alto volumen
                                                        de ventas que se genera durante las fechas de Hot Sale y Cyber
                                                        Monday, los operadores logísticos pueden tener demoras
                                                        adicionales de entrega en algunas regiones.&nbsp;</em></p>
                                                <p><br></p>
                                                <p><strong>Envío express EN EL DÍA, CABA</strong></p>
                                                <p><br></p>
                                                <p>Válido para los días hábiles. La entrega en 24 hs es un servicio
                                                    premium destinado para residentes de CABA. Válido para compras
                                                    realizadas con tarjeta de crédito. Si el pedido se realiza antes de
                                                    las 12 hs, llegará ese mismo día. Horario de entrega hasta las 21
                                                    hs. Si no al siguiente. Límite de peso 690 g (equivalente a un
                                                    calzado).</p>
                                                <p><br></p>
                                                <p><strong>Envío express EN EL DÍA, 1ER Y 2DO CORDÓN GBA</strong></p>
                                                <p><br></p>
                                                <p>Válido para los días hábiles. La entrega en 24 hs es un servicio
                                                    premium destinado para residentes de 1er y 2do cordón GBA. Válido
                                                    para compras realizadas con tarjeta de crédito. Si el pedido se
                                                    realiza antes de las 12 hs, llegará ese mismo día. Horario de
                                                    entrega hasta las 21 hs. Si no al siguiente. Límite de peso 690 g
                                                    (equivalente a un calzado).</p>
                                                <p><br></p>
                                                <p><strong style="color: rgb(18, 18, 18);">Envío Express CÓRDOBA CAPITAL
                                                        y ROSARIO</strong></p>
                                                <p><span style="color: rgb(18, 18, 18);">&nbsp;</span></p>
                                                <p>Válido para los días hábiles.
                                                    La entrega en 24 hs es un servicio premium destinado para
                                                    residentes de CÓRDOBA CAPITAL. Válido para compras realizadas
                                                    con tarjeta de crédito. Si el pedido se realiza antes de las 13
                                                    hs, llegará al día siguiente. Si no en 48hs. Límite de
                                                    peso 690 g (equivalente a un calzado).</p>
                                                <p><br></p>
                                                <p><br></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </main>

            <!--Footer-->
            <%- include('./partials/footer') %>


                <%- include('./partials/scripts') %>
    </body>

</html>