<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('./partials/head') %>

    <body class="vistas">
        <!--Header-->
        <%- include('./partials/header') %>

            <main>

                <div role="main" id="maincontent">



                    <div class="container px-2 page-designer-reference">
                        <div id="preguntas-frecuentes" class="row mx-n2">
                            <div class="col-12 px-2">
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h1>Preguntas Frecuentes</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-containers">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h2><span
                                                        style="background-color: transparent; color: rgb(0, 0, 0);">Proceso
                                                        de Compra</span></h2>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                                        ¿Cómo hago para comprar en domino.com.ar?
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="flush-headingOne"
                                                    data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <p><strong
                                                                style="color: rgb(51, 51, 51); background-color: transparent;">1.
                                                                Elegí los productos.</strong>
                                                            Podés buscar productos desde el menú superior donde se
                                                            encuentran las
                                                            categorías por genero y ofertas. Si buscás un producto
                                                            en
                                                            particular, podés ingresar el nombre en el buscador
                                                            principal que se encuentra en el sector superior
                                                            en la parte central.</p>
                                                        <p><br></p>
                                                        <p><strong
                                                                style="color: rgb(51, 51, 51); background-color: transparent;">2.
                                                                Seleccioná lo que queres y agregalo a tu
                                                                carrito.</strong>
                                                            Hace click sobre el producto que querés comprar.
                                                            Seleccioná
                                                            el color, talle y cantidad deseada. Presioná el botón
                                                            "Comprar". Podés agregar más productos a la compra o
                                                            clickear en el botón del carrito en el sector inferior
                                                            derecho para finalizar tu compra.</p>
                                                        <p><br></p>
                                                        <p><strong
                                                                style="color: rgb(51, 51, 51); background-color: transparent;">3.
                                                                Tu carrito.</strong>
                                                            Una vez en el carrito chequeá que los productos que
                                                            están
                                                            son los que elegiste y avanzá al checkout presionando el
                                                            botón "Finalizar Compra".</p>
                                                        <p><br></p>
                                                        <p><strong
                                                                style="color: rgb(51, 51, 51); background-color: transparent;">4.
                                                                Datos de facturación. </strong>Finalmente
                                                            deberás completar los datos que te vamos solicitando:
                                                            datos
                                                            personales, dirección de entrega, modo de envío, forma
                                                            de
                                                            pago.</p>
                                                        <p><br></p>
                                                        <p>Y listo! Ahora solo resta esperar a que llegue tu
                                                            pedido.</p>
                                                        <p><br><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                        aria-expanded="false" aria-controls="flush-collapseTwo">
                                                        ¿Cómo hago para seguir mi pedido?
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="flush-headingTwo"
                                                    data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <p>Una vez que tu pedido haya sido despachado, recibirás un
                                                            correo
                                                            electrónico informando el número de seguimiento, que te
                                                            permitirá ver dónde se encuentra a través del sitio web de
                                                            la
                                                            transportadora correspondiente.</p>
                                                        <p><br><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                        aria-expanded="false" aria-controls="flush-collapseThree">
                                                        ¿Cómo hago para cancelar mi pedido?
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="flush-headingThree"
                                                    data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <p>Para cancelar tu pedido deberás ponerte en contacto con
                                                            nosotros
                                                            enviándonos un mail a <a
                                                                href="mailto:ecommerce@domino.com.ar" target="_self"
                                                                data-link-type="external"
                                                                data-link-label="ecommerce@moovbydexter.com.ar">ecommerce@domino.com.ar</a>
                                                        </p>
                                                        <p><br><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="experience-component">
                                        <div class="component-containers">
                                            <div class="row">
                                                <div class="col-12 align-self-center text-center text-lg-left">
                                                    <h2>Pagos</h2>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="experience-component">
                                        <div class="component-container">
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingFour">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                                                            aria-controls="flush-collapseFour">
                                                            ¿Cuáles son los medios de pago disponibles?
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                                                        aria-labelledby="flush-headingFour"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p>Podrás abonar tus pedidos con Tarjeta de Crédito o débito
                                                                o
                                                                por Mercado
                                                                Pago a través de Cupones de Pago.</p>
                                                            <p><br><br></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingFive">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                                                            aria-controls="flush-collapseFive">
                                                            ¿Es seguro pagar con mi tarjeta de crédito en
                                                            domino.com.ar?
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                                                        aria-labelledby="flush-headingFive"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p>Sí, es seguro. Entendemos que la seguridad de tu
                                                                información
                                                                personal es
                                                                de suma importancia para vos. Cumplimos con el estándar
                                                                internacional de
                                                                protección de datos, para que tu información personal y
                                                                de
                                                                tarjeta de
                                                                crédito, esté protegida de accesos no autorizados.</p>
                                                            <p><br><br></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingSix">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                                                            aria-controls="flush-collapseSix">
                                                            ¿Cuánto tiempo tengo para pagar mi pedido a través de
                                                            cupones de
                                                            pago?
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                                                        aria-labelledby="flush-headingSix"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p>Tenés hasta 5 días hábiles para realizar el pago de tu
                                                                pedido. No olvides
                                                                enviar el comprobante del mismo vía e-mail a <a
                                                                    href="mailto:ecommerce@domino.com.ar" target="_self"
                                                                    data-link-type="external"
                                                                    data-link-label="ecommerce@domino.com.ar">ecommerce@domino.com.ar</a>
                                                            </p>
                                                            <p><br><br></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingSeven">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                                            aria-controls="flush-collapseSeven">
                                                            ¿Cómo sé que mi pago fue acreditado?
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                                        aria-labelledby="flush-headingSeven"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p>Una vez que tu pago haya sido acreditado correctamente
                                                                por
                                                                administración, recibirás un correo electrónico
                                                                informándote
                                                                el número
                                                                de acreditación y el número de factura correspondiente.
                                                            </p>
                                                            <p><br><br></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="experience-component">
                                            <div class="component-containers">
                                                <div class="row">
                                                    <div class="col-12 align-self-center text-center text-lg-left">
                                                        <h2>Envío y Retiro</h2>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="experience-component">
                                            <div class="component-container">
                                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingEight">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseEight"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseEight">
                                                                ¿Cuáles son las formas de envío?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseEight"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingEight"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p><strong>Envíos a domicilio:</strong> envíos a
                                                                    cualquier
                                                                    punto del país a
                                                                    excepción de la provincia de Tierra del Fuego.</p>
                                                                <p><br></p>
                                                                <p><strong
                                                                        style="color: rgb(18, 18, 18);">Envío</strong><strong>
                                                                    </strong><strong
                                                                        style="color: rgb(18, 18, 18);">Express
                                                                        EN EL DÍA,
                                                                        CIUDAD AUTÓNOMA DE BUENOS
                                                                        AIRES:</strong><strong>
                                                                        válido para los
                                                                        días hábiles.</strong> Es un
                                                                    servicio Premium destinado para residentes de
                                                                    CABA.
                                                                    Válido para
                                                                    compras realizadas con tarjeta de crédito. Si el
                                                                    pedido se realiza
                                                                    antes de las 12 hs, llegará ese mismo día.
                                                                    Horario
                                                                    de entrega hasta
                                                                    las 21 hs. Si no al siguiente día
                                                                    hábil.&nbsp;Límite de peso
                                                                    690 g (equivalente a un calzado).</p>
                                                                <p><br></p>
                                                                <p><span style="color: rgb(18, 18, 18);">﻿</span><strong
                                                                        style="color: rgb(18, 18, 18);">Envío</strong><strong>
                                                                    </strong><strong
                                                                        style="color: rgb(18, 18, 18);">Express
                                                                        EN EL DÍA, 1ER
                                                                        Y 2DO CORDÓN GBA:</strong><strong> válido para
                                                                        los
                                                                        días
                                                                        hábiles.</strong> Es un
                                                                    servicio Premium destinado para residentes de
                                                                    1er y
                                                                    2do cordón GBA.
                                                                    Válido para compras realizadas con tarjeta de
                                                                    crédito. Si el pedido
                                                                    se realiza antes de las 12 hs, llegará ese mismo
                                                                    día. Horario de
                                                                    entrega hasta las 21 hs. Si no al siguiente día
                                                                    hábil.&nbsp;Límite de peso 690 g
                                                                    (equivalente
                                                                    a un calzado).
                                                                </p>
                                                                <p><br></p>
                                                                <p><span style="color: rgb(18, 18, 18);">﻿</span><strong
                                                                        style="color: rgb(18, 18, 18);">Envío Express
                                                                        CÓRDOBA CAPITAL y
                                                                        ROSARIO: válido para los días hábiles.
                                                                    </strong>Es un
                                                                    servicio premium destinado
                                                                    para residentes de CÓRDOBA CAPITAL. Válido para
                                                                    compras realizadas
                                                                    con tarjeta de crédito. Si el pedido se realiza
                                                                    antes de las 13 hs,
                                                                    llegará al día siguiente. Si no en 48hs.
                                                                    Límite de peso 690 g
                                                                    (equivalente a un calzado).</p>
                                                                <p><br></p>
                                                                <p><span
                                                                        style="color: rgb(18, 18, 18);">﻿</span><strong>Retiro
                                                                        en
                                                                        sucursal:</strong> podés elegir retirar tu
                                                                    pedido en
                                                                    cualquiera de
                                                                    las sucursales Moov disponibles al momento de
                                                                    realizar
                                                                    tu compra. Buscá
                                                                    la más cercana a tu domicilio en
                                                                    www.domino.com.ar/sucursales</p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingNine">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseNine"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseNine">
                                                                ¿Cuál es el costo del envío?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseNine" class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingNine"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Normal AMBA $299</p>
                                                                <p>Normal PBA $399</p>
                                                                <p>Normal CENTRO $399</p>
                                                                <p>Normal CUYO $399</p>
                                                                <p>Normal NEA $449</p>
                                                                <p>Normal NOA $449</p>
                                                                <p>Normal PATAGÓNIA $549</p>
                                                                <p>Express CABA $499</p>
                                                                <p>Express 1ER CORDÓN GBA $599</p>
                                                                <p>Express 2DO CORDÓN GBA $699</p>
                                                                <p>Express CÓRDOBA CAPITAL $599</p>
                                                                <p>Express ROSARIO $599</p>
                                                                <p>Entrega en sucursal $220</p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTen">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseTen"
                                                                aria-expanded="false" aria-controls="flush-collapseTen">
                                                                ¿Cuánto tarda en llegar mi pedido?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseTen" class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingTen"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p><strong style="color: rgb(51, 51, 51);">Entregas a
                                                                        Domicilio</strong></p>
                                                                <p><br></p>
                                                                <p>El tiempo de
                                                                    entrega depende de la
                                                                    disponibilidad del producto, del tiempo de envío
                                                                    y
                                                                    de la aprobación
                                                                    del medio de pago. Los días que se indiquen son
                                                                    estimativos, y
                                                                    corren siempre a partir del momento en que el
                                                                    pedido
                                                                    se despacha.
                                                                    Los envíos se realizan en toda la República
                                                                    Argentina, excepto la
                                                                    provincia de Tierra del Fuego.</p>
                                                                <p><br></p>
                                                                <p>Normal AMBA 2-3 DÍAS HÁBILES</p>
                                                                <p>Normal GRANDES CIUDADES 4-5 DÍAS HÁBILES</p>
                                                                <p>Normal INTERIOR DE INTERIOR 7-8 DÍAS HÁBILES</p>
                                                                <p>Express EN EL DÍA, CABA comprando antes de las 12 hs.
                                                                    Válido para los
                                                                    días hábiles.</p>
                                                                <p>Express EN EL DÍA, 1ER y 2DO CORDÓN GBA comprando
                                                                    antes
                                                                    de las 12 hs.
                                                                    Válido para los días hábiles.</p>
                                                                <p>Express CÓRDOBA CAPITAL y ROSARIO. Válido para los
                                                                    días
                                                                    hábiles.
                                                                    Comprando antes de las 13 hs. tu pedido llega al día
                                                                    siguiente.
                                                                    Comprando después de las 13, llega en 48 hs.</p>
                                                                <p><br></p>
                                                                <p><em>Aclaración: Por el alto volumen de ventas que se
                                                                        genera durante las
                                                                        fechas de&nbsp;</em><strong><em>Hot
                                                                            Sale&nbsp;</em></strong><em>y&nbsp;</em><strong><em>Cyber
                                                                            Monday</em></strong><em>, los pedidos
                                                                        tendrán
                                                                        una demora de
                                                                        entrega de hasta 10 días hábiles adicionales
                                                                        (aplica
                                                                        a compras
                                                                        realizadas durante estos eventos y hasta 20 días
                                                                        posteriores a los
                                                                        mismos).</em></p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingEleven">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseEleven"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseEleven">
                                                                ¿Cómo se realizan las entregas?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseEleven"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingEleven"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Los pedidos salen de nuestro depósito con bolsas
                                                                    inviolables, al recibir
                                                                    tu compra verificá que el envoltorio no esté
                                                                    adulterado.
                                                                    En el caso que
                                                                    percibas algún problema no aceptes la recepción del
                                                                    mismo.</p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwelve">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseTwelve"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseTwelve">
                                                                ¿Puede recibir mi pedido otra persona?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseTwelve"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingTwelve"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Puede recibirlo cualquier persona, mayor de 18 años,
                                                                    que
                                                                    se encuentre en
                                                                    el domicilio acordado, presentando documento de
                                                                    identidad.</p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingThirteen">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseThirteen"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseThirteen">
                                                                ¿Qué necesito para retirar mi pedido en una sucursal?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseThirteen"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingThirteen"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Para poder retirar un pedido enviado a alguna de
                                                                    nuestras
                                                                    sucursales se
                                                                    debe cumplir con los siguientes requisitos. Caso
                                                                    contrario, NO se
                                                                    entregará el mismo:</p>
                                                                <p><br></p>
                                                                <p><strong>Retira el titular de la compra:</strong></p>
                                                                <p><strong>&nbsp;</strong></p>
                                                                <p>•DNI del titular de la tarjeta.</p>
                                                                <p>•Tarjeta utilizada en la compra.</p>
                                                                <p><br></p>
                                                                <p><strong>Otra persona:</strong></p>
                                                                <p><br></p>
                                                                <p>•Fotocopia del DNI del titular de la tarjeta.</p>
                                                                <p>•Fotocopia tarjeta utilizada en la compra (sólo del
                                                                    frente).</p>
                                                                <p>•DNI del usuario de la cuenta.</p>
                                                                <p>•Relación con el titular.</p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingFourteen">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseFourteen"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseFourteen">
                                                                ¿Qué pasa si no hay nadie para recibir mi pedido?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseFourteen"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingFourteen"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>De no encontrarse persona alguna en el domicilio
                                                                    indicado
                                                                    por el usuario
                                                                    al momento de la entrega del pedido la
                                                                    transportadora
                                                                    realizará una
                                                                    nueva visita. De no encontrarse nadie en el
                                                                    domicilio
                                                                    nuevamente, el
                                                                    usuario podrá retirarlo por la sucursal logística
                                                                    indicada en el aviso
                                                                    de visita en un plazo máximo de 5 días hábiles desde
                                                                    la
                                                                    fecha de
                                                                    notificación o el pedido regresará a nuestro
                                                                    depósito.
                                                                </p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingFifteen">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseFifteen"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapseFifteen">
                                                                ¿En qué días y horarios entregan los pedidos?
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseFifteen"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingFifteen"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Las entregas de pedidos se realizan de lunes a
                                                                    viernes de
                                                                    9:00 hs. a
                                                                    18:00 hs. No se entregan pedidos los fines de semana
                                                                    ni
                                                                    los feriados.
                                                                </p>
                                                                <p><br><br></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="experience-component">
                                                <div class="component-containers">
                                                    <div class="row">
                                                        <div class="col-12 align-self-center text-center text-lg-left">
                                                            <h2>Cambios y devoluciones</h2>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="experience-component">
                                                <div class="component-container">
                                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingSixteen">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseSixteen"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseSixteen">
                                                                    Algo que compre no me satisface 100%. ¿Puedo
                                                                    cambiarlo?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseSixteen"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingSixteen"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>Sí, podés
                                                                        elegir cualquier otro
                                                                        producto. Si existiera diferencia de precio
                                                                        entre el producto
                                                                        devuelto y el producto nuevo, esta deberá
                                                                        ser
                                                                        abonada. Los cambios
                                                                        serán tomados al precio del producto que
                                                                        figure
                                                                        en la factura
                                                                        original de compra excluyendo el costo del
                                                                        envío.</p>
                                                                    <p><br></p>
                                                                    <p>Tené en
                                                                        cuenta
                                                                        que para los
                                                                        productos identificados como LIQUIDACIÓN los
                                                                        cambios estarán
                                                                        condicionados a la disponibilidad de stock.
                                                                        En
                                                                        el caso de querer
                                                                        cambiarlo por otro producto, podrás hacerlo
                                                                        eligiendo cualquier
                                                                        artículo. También recordá que no se realiza
                                                                        devolución de dinero en
                                                                        las sucursales.&nbsp;</p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingSeventeen">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseSeventeen"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseSeventeen">
                                                                    ¿Cómo se realiza un cambio?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseSeventeen"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingSeventeen"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>En el caso
                                                                        de
                                                                        que tengas que
                                                                        cambiar un producto mandanos un email con
                                                                        los
                                                                        datos de tu orden a
                                                                        <a data-link-label="ecommerce@domino.com.ar"
                                                                            data-link-type="external" target="_self"
                                                                            href="mailto:ecommerce@domino.com.ar">ecommerce@</a>domino.com.ar
                                                                        o contactanos a través del 0810-888-3398.
                                                                        También
                                                                        podés acercarte a tu
                                                                        sucursal más cercana con el producto y la
                                                                        factura
                                                                        correspondiente.
                                                                    </p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingEighteen">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseEighteen"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseEighteen">
                                                                    ¿Cuánto tiempo tengo para hacer un cambio?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseEighteen"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingEighteen"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>Tenés hasta 30 (treinta) días consecutivos desde
                                                                        la
                                                                        recepción del
                                                                        producto para realizar el cambio deseado. El
                                                                        producto adquirido debe
                                                                        presentar las mismas condiciones en las que fue
                                                                        recibido o comprado, en
                                                                        perfectas condiciones, etiqueta y envoltorio
                                                                        original. Para hacer
                                                                        efectivo el cambio es obligatorio llevar la
                                                                        factura
                                                                        impresa. <span style="color: black;">En el caso
                                                                            de
                                                                            tratarse de un cambio por falla
                                                                            contás con 180 (ciento ochenta) días
                                                                            consecutivos desde la recepción
                                                                            del producto para realizar el reclamo
                                                                            correspondiente.</span></p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingNiniteen">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseNiniteen"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseNiniteen">
                                                                    ¿Realizar un cambio tiene un costo?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseNiniteen"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingNiniteen"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>¡El primer cambio es gratis! Tanto en sucursal
                                                                        como a
                                                                        domicilio.</p>
                                                                    <p>A partir del segundo:</p>
                                                                    <p><br></p>
                                                                    <p>• El costo del cambio (envío y retiro) se
                                                                        encuentra
                                                                        sujeto al domicilio
                                                                        de entrega.</p>
                                                                    <p><br></p>
                                                                    <p>• En sucursal, ¡sigue siendo gratis! 😉</p>
                                                                    <p><br></p>
                                                                    <p>Si el motivo del cambio es porque recibiste un
                                                                        producto distinto al que
                                                                        compraste, el mismo no tendrá un costo
                                                                        asociado.&nbsp;</p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingTwenty">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseTwenty"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseTwenty">
                                                                    ¿Se realizan cambios a domicilio?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseTwenty"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingTwenty"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>Sí. El
                                                                        primer
                                                                        cambio es gratis.
                                                                        Podés elegir realizar el cambio en
                                                                        cualquiera de
                                                                        nuestras sucursales
                                                                        (sujeto a disponibilidad de stock de la
                                                                        sucursal) o en tu domicilio
                                                                        gratuitamente, o con un costo si el producto
                                                                        debe ser enviado desde
                                                                        otra sucursal o depósito ajeno.</p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingTwenty-one">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseTwenty-one"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseTwenty-one">
                                                                    ¿Qué pasa si el producto tiene una falla?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseTwenty-one"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingTwenty-one"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>Si el producto llegara a presentar una falla de
                                                                        fabricación, deberás
                                                                        ponerte en contacto con nosotros al mail
                                                                        ecommerce@domino.com.ar
                                                                        informando el número del pedido y el producto
                                                                        fallado, para que podamos
                                                                        indicarte los pasos a seguir.</p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingTwenty-two">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseTwenty-two"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseTwenty-two">
                                                                    ¿Puedo devolver un producto?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseTwenty-two"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingTwenty-two"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>En el caso
                                                                        de
                                                                        que quieras devolver
                                                                        un producto mandanos un email con los datos
                                                                        de
                                                                        tu orden a <a
                                                                            style="background-color: rgb(255, 255, 255);"
                                                                            data-link-label="ecommerce@domino.com.ar"
                                                                            data-link-type="external" target="_self"
                                                                            href="mailto:ecommerce@domino.com.ar">ecommerce@domino.com.ar</a>
                                                                        o contactanos a través del 0810-888-3398.</p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingTwenty-three">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapseTwenty-three"
                                                                    aria-expanded="false"
                                                                    aria-controls="flush-collapseTwenty-three">
                                                                    ¿Cuáles son los productos que no tienen cambio ni
                                                                    devolución?
                                                                </button>
                                                            </h2>
                                                            <div id="flush-collapseTwenty-three"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="flush-headingTwenty-three"
                                                                data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p>Las medias no tienen cambios ni devolución.</p>
                                                                    <p><br><br></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p><br><br></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

            </main>

            <!--Footer-->
            <%- include('./partials/footer') %>


                <%- include('./partials/scripts') %>
    </body>

</html>