<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('./partials/head') %>

    <body class="vistas">
        <!--Header-->
        <%- include('./partials/header') %>

            <main>
                <div role="main" id="maincontent">



                    <div class="container px-2 page-designer-reference">
                        <div id="quienes-somos" class="row mx-n2">
                            <div class="col-12 px-2">
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h1>¿Quiénes somos?</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <p>
                                                    Somos una tienda online de ropa urbana y deportiva, destinada a
                                                    hombres y mujeres. <br>
                                                    Nuestra historia comienza en el 2016 como una empresa familiar,
                                                    que toma el nombre de Domino en homenaje a nuestro
                                                    abuelo, que cuando éramos pequeños, jugaba con nosotros al
                                                    famoso juego de mesa.
                                                </p>
                                                <p><span style="background-color: transparent;"><span
                                                            class="ql-cursor">﻿</span></span></p>
                                                <p>
                                                    Entendemos los gustos de nuestros
                                                    clientes, como las tendencias que acompañan a cada temporada,
                                                    destacándonos por una amplia gama de colores, y cubriendo todos
                                                    los talles, con precios accesibles. <br>
                                                    Contamos con marcas reconocidas para que crees tu propio
                                                    estilo. <br>
                                                    Te invitamos a que recorras nuestra página y que disfrutes de la
                                                    gran variedad de productos que tenemos para vos.
                                                </p>
                                                <p>&nbsp;</p>
                                                <p>&nbsp;</p>
                                                <h2><span style="background-color: transparent;">Misión:&nbsp;</span>
                                                </h2>
                                                <p>
                                                    Hablamos a través del deporte y de la moda con el
                                                    objetivo de acompañarlos en cada momento de sus vidas para que
                                                    puedan competir, entrenar o lucir su estilo personal,
                                                    transmitiendo inspiración e innovación.
                                                </p>
                                                <p>&nbsp;</p>
                                                <p>&nbsp;</p>
                                                <h2><span style="background-color: transparent;">Visión:</span></h2>
                                                <p>Ser el retailer líder en
                                                    ventas y en servicio al cliente, siendo siempre cercano al
                                                    consumidor.</p>
                                                <p>&nbsp;</p>
                                                <p>&nbsp;</p>
                                                <h2><span style="background-color: transparent;">Nuestros
                                                        Valores:&nbsp;</span></h2>
                                                <p>-Cliente siempre
                                                    primero</p>
                                                <p>-Compromiso</p>
                                                <p>-Pasión</p>
                                                <p>-Hacer lo
                                                    correcto</p>
                                                <p>-Equipo</p>
                                                <p>-Innovación</p>
                                                <p>-Comunicación</p>
                                                <p><br></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <!--Footer-->
            <%- include('./partials/footer') %>


                <%- include('./partials/scripts') %>
    </body>

</html>