<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('./partials/head') %>

    <body class="vistas">
        <!--Header-->
        <%- include('./partials/header') %>

            <main>
                <div role="main" id="maincontent">



                    <div class="container px-2 page-designer-reference">
                        <div id="terminos-y-condiciones" class="row mx-n2">
                            <div class="col-12 px-2">
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h1>Términos y Condiciones</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="experience-component">
                                    <div class="component-container">
                                        <div class="row">
                                            <div class="col-12 align-self-center text-center text-lg-left">
                                                <h2>Condiciones Generales:</h2>
                                                <p><br></p>
                                                <p>Este contrato describe los Términos y Condiciones Generales (en
                                                    adelante, los “Términos y Condiciones”) que se aplicarán para la
                                                    navegación del sitio web www.domino.com.ar, y los servicios
                                                    ofrecidos en él (en adelante, el “website”). La responsabilidad del
                                                    uso y los derechos del website son de DABRA S.A. (en adelante,
                                                    “DABRA”) CUIT: 30-63848573-3.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Aceptación y conocimiento de los Términos y Condiciones:</h2>
                                                <p>Cualquier persona (en adelante, “Usuario” o en plural “Usuarios”) que
                                                    desee acceder y/o utilizar el website o sus servicios, podrá hacerlo
                                                    sujetándose a los Términos y Condiciones, junto con todas las demás
                                                    políticas y principios que rigen, y que son incorporados al
                                                    presente.</p>
                                                <p>Los presentes Términos y Condiciones tienen carácter obligatorio y
                                                    vinculante para las partes. Se aplican a todas las compras y
                                                    actividades realizadas en el website. El uso del website implica el
                                                    conocimiento y la aceptación de todos ellos.</p>
                                                <p>Las personas que no acepten estos Términos y Condiciones, los cuales
                                                    tienen carácter vinculante y obligatorio, se deberá abstener de
                                                    utilizar el sitio web.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Modificación de los Términos y Condiciones:</h2>
                                                <p>DABRA se reserva el derecho de modificar los Términos y Condiciones
                                                    en cualquier momento, haciéndolos público en el website, y pondrá un
                                                    aviso alertando a los Usuarios que así lo requieran en la
                                                    suscripción, informando las modificaciones que pudiera sufrir,
                                                    durante un tiempo razonable. Sin perjuicio de lo anterior, los
                                                    Usuarios son responsables de leer estos Términos y Condiciones cada
                                                    vez que ingresen al website para ver si han sufrido modificaciones.
                                                </p>
                                                <p>Todo Usuario que no se encuentre de acuerdo con las modificaciones
                                                    sufridas, tendrá la posibilidad de solicitar la baja del sitio.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Registración:</h2>
                                                <p>El cliente debe registrarse y crear un nuevo usuario dentro del sitio
                                                    con sus datos personales para poder realizar compras. Deberá
                                                    ingresar nombre completo, DNI, fecha de nacimiento, género, teléfono
                                                    y mail. Asimismo, se le pedirá que genere una clave personal para
                                                    poder ingresar cada vez que así lo requiera a su usuario personal.
                                                    Además, deberá aceptar las políticas de privacidad del sitio y optar
                                                    si quiere recibir emails promocionales en su casilla.</p>
                                                <p>El Usuario debe leer, entender y aceptar todas las condiciones
                                                    establecidas en los Términos y Condiciones y en las Políticas de
                                                    Privacidad, así como también en los demás documentos incorporados a
                                                    los mismos por referencia, optando de forma expresa por recibir los
                                                    mismos y toda otra información por medios digitales.</p>
                                                <p>Los Usuarios pueden navegar libremente por el website. Sin embargo,
                                                    para realizar una compra deberán ingresar y completar en todos los
                                                    campos, cada uno de los datos requeridos por el website en el
                                                    formulario que les aparecerá al momento del checkout, con los datos
                                                    solicitados. El Usuario asume la responsabilidad de modificarlos,
                                                    cada vez que lo considere necesario o así lo solicite.</p>
                                                <p>Es obligatorio completar el formulario en todos los campos con datos
                                                    válidos y verdaderos, de manera exacta y precisa. Para un correcto
                                                    funcionamiento del sistema, es necesario que los Usuarios mantengan
                                                    sus datos actualizados. DABRA podrá proceder a verificar la
                                                    identidad del Usuario y/o de los datos consignados por éste en
                                                    cualquier momento. DABRA no se responsabiliza por la veracidad o
                                                    certeza de los datos provistos por los Usuarios. Asimismo, DABRA se
                                                    reserva el derecho de suspender temporal o definitivamente a los
                                                    Usuarios en caso de incumplimiento de los Términos y Condiciones,
                                                    como así también de rechazar solicitudes.</p>
                                                <p>La Cuenta es personal, única e intransferible, y está prohibido que
                                                    un mismo Usuario registre o posea más de una cuenta.</p>
                                                <p>En el caso de que estos datos sean olvidados por el Usuario, DABRA
                                                    cuenta con un servicio de ayuda para recuperarlos. Para esto se
                                                    deberá hacer click en la opción correspondiente e ingresar el e-mail
                                                    que se proporcionó al momento de la registración. Al finalizar, el
                                                    sistema le enviará de manera confidencial a esa cuenta de mail su
                                                    nombre de Usuario y la clave personal.</p>
                                                <p>DABRA se compromete a mantener la confidencialidad de los datos
                                                    aportados por los Usuarios para su registro, los Usuarios se
                                                    comprometen a mantener la confidencialidad de su nombre/ Usuario y
                                                    su clave de acceso. De conformidad con lo expresado en el párrafo
                                                    anterior, los Usuarios son responsables del uso que se haga de su
                                                    clave y deberán tener presente que si otras personas tienen o pueden
                                                    tener en el futuro acceso a la cuenta de e-mail consignada como
                                                    propia en el formulario de registración, éstas también podrían
                                                    solicitar su clave de acceso y nombre de Usuario. Es obligación
                                                    exclusiva del Usuario tomar las medidas pertinentes para que esto no
                                                    suceda. El Usuario garantiza y responde, en cualquier caso, respecto
                                                    a la veracidad, exactitud, vigencia y autenticidad de los datos
                                                    personales aportados en el formulario y es responsable de todas las
                                                    operaciones que se realicen con su cuenta registrada. El Usuario se
                                                    compromete a notificar inmediatamente y de manera fehaciente a
                                                    DABRA, a cualquiera de sus medios de contacto, o a <a
                                                        href="mailto:ecommerce@domino.com.ar" target="_blank"
                                                        rel="noopener noreferrer" data-link-type="external"
                                                        data-link-label="mailto:ecommerce@domino.com.ar">ecommerce@domino.com.ar</a>,
                                                    cualquier uso no autorizado de su cuenta de Usuario, y a mantenerlo
                                                    indemne en el caso de que se esto produzca algún daño a la empresa o
                                                    a terceros. La registración de los Usuarios se realiza ingresando al
                                                    website, y no tiene costo alguno. En el caso de que DABRA detecte
                                                    distintas cuentas que contengan datos coincidentes o relacionados
                                                    entre Usuarios, podrá cancelar, suspender o inhabilitarlas.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Capacidad:</h2>
                                                <p>Para utilizar los servicios del website se requiere tener capacidad
                                                    legal para contratar. No podrán acceder a los servicios quienes
                                                    carezcan de ella, los que hayan sido suspendidos o inhabilitados, ni
                                                    los menores de edad. Los padres, tutores o responsables de los
                                                    menores de edad o incapaces que utilicen el website creando un
                                                    Usuario serán responsables por dicho uso, incluyendo cualquier
                                                    cargo, facturación o daño que se derive de él.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Confirmación de Compra:</h2>
                                                <p>Al momento de realizar la compra y que la misma sea confirmada, se le
                                                    informará al Usuario su número de operación o transacción (en
                                                    adelante, “Pedido”). Asimismo, el Usuario recibirá en su casilla de
                                                    correo electrónico una confirmación de que la orden de Pedido ha
                                                    sido aceptada, conjuntamente con su respectivo número y detalle de
                                                    la misma. Interrupción del servicio – Exclusión de responsabilidad:
                                                    DABRA se reserva el derecho de interrumpir, suspender o modificar en
                                                    cualquier momento los servicios ofrecidos en el presente website, ya
                                                    sea en forma permanente o transitoria. No se requerirá la
                                                    conformidad de los Usuarios, ni será necesario aviso previo alguno.
                                                    Asimismo, no garantiza el acceso o uso permanente del website, ya
                                                    que éste podría interrumpirse por cuestiones técnicas ajenas a
                                                    DABRA. No obstante lo mencionado anteriormente, si la suspensión o
                                                    interrupción mencionada no obedeciere a razones de fuerza mayor o
                                                    caso fortuito, DABRA se compromete a cumplir las prestaciones que
                                                    estuvieran pendientes al momento de la suspensión o interrupción.
                                                    DABRA no garantiza que el website se encuentre libre de virus,
                                                    gusanos o cualquier otro elemento que pueda llegar a dañar o alterar
                                                    el normal funcionamiento de un ordenador. Es responsabilidad y
                                                    obligación exclusiva del Usuario contar con las herramientas
                                                    adecuadas para detectar, desinfectar y/o prevenir cualquier tipo de
                                                    elementos y/o posibles daños de esta naturaleza. DABRA no se
                                                    responsabiliza por cualquier daño que pueda producirse en los
                                                    equipos informáticos de los Usuarios o de terceros como consecuencia
                                                    de la navegación del presente website.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Cookies:</h2>
                                                <p>El website puede utilizar un sistema de seguimiento mediante
                                                    “cookies”, para que el acceso a la información, al pasar de página
                                                    en página, se realice con mayor rapidez. También ayuda en algunos
                                                    casos a identificar a los Usuarios, sin necesidad de solicitarles la
                                                    clave de acceso una y otra vez. Estas cookies son pequeños archivos
                                                    que envía la página visitada y se alojan en el disco duro del
                                                    ordenador, ocupando poco espacio. Se hace saber a los Usuarios que
                                                    utilizando las opciones de su navegador podrán limitar o restringir
                                                    según su voluntad el alojamiento de estas “cookies”, aunque es
                                                    desaconsejable restringirlas totalmente. El sistema podrá recoger
                                                    información sobre sus preferencias e intereses. En el caso de que
                                                    esto ocurra, la información será utilizada exclusivamente con fines
                                                    estadísticos para mejorar los servicios que se prestan en el
                                                    website. DABRA aplicará, en la mayor medida en que sea posible,
                                                    procedimientos de disociación de la información de modo que los
                                                    titulares de los datos sean inidentificables.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Disponibilidad y precio de los productos ofrecidos:</h2>
                                                <p>Antes de comprar, el Usuario deberá tener en cuenta que los productos
                                                    seleccionados pueden no encontrarse en stock al momento de realizar
                                                    la compra. Toda compra se encuentra sujeta a disponibilidad y
                                                    solamente se confirmará la disponibilidad con el número de operación
                                                    confirmada, en la última etapa del proceso de compra.</p>
                                                <p>Asimismo, en el caso de que el o los productos seleccionados se
                                                    encontraren agotados o demorados, DABRA se comunicará con el Usuario
                                                    y lo invitará a que elija una de las siguientes opciones: A)
                                                    Continuar esperando la entrega del producto elegido (en caso de
                                                    demora); B) Cancelación de la compra y devolución del importe por el
                                                    medio de pago original; C) Optar por un producto alternativo que le
                                                    ofrezca DABRA para el caso particular; D) Cancelación de la compra y
                                                    emisión de una orden de compra por el mismo importe. Cuando el
                                                    Usuario opte por cancelar la compra, se devolverá el importe abonado
                                                    según el medio de pago que se haya elegido oportunamente. En el caso
                                                    de que el Usuario opte por el producto alternativo que le ofrece
                                                    DABRA, éste deberá contener características iguales o superiores,
                                                    pero acordes al precio abonado. En ningún caso se le pedirá al
                                                    Usuario que abone sumas suplementarias o que se haga cargo de las
                                                    diferencias, salvo que el producto alternativo ofrecido por DABRA y
                                                    escogido por el Usuario sea de características ampliamente
                                                    superiores y costosas al solicitado originalmente por el Usuario.
                                                    Importante: para las situaciones contempladas en este apartado, el
                                                    Usuario tendrá un plazo de diez (10) días para elegir una de las
                                                    opciones mencionadas. En caso de que el Usuario guarde silencio al
                                                    respecto, DABRA podrá presumir que ha optado por la cancelación de
                                                    la compra, y procederá a la devolución del importe abonado por el
                                                    medio de pago original. La información sobre productos y precios
                                                    publicados en el website está sujeta a cambios y pueden ser
                                                    modificados y/o actualizados directamente por DABRA. Cualquier
                                                    precio o condición de los productos que ya haya sido confirmado en
                                                    una operación no serán modificados.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Devolución del importe abonado:</h2>
                                                <p>En los casos mencionados en el punto anterior en que el Usuario haya
                                                    optado por la devolución del importe abonado, deberá tener en cuenta
                                                    que el reintegro puede demorar como máximo 10 días hábiles, ello
                                                    debido a plazos y cuestiones administrativas. Para los casos de
                                                    devolución vía depósito bancario, la cuenta bancaria deberá estar a
                                                    nombre del titular de la cuenta de Usuario desde donde se haya
                                                    realizado la operación. En caso de que no coincidan las
                                                    titularidades, se requerirá la expresa autorización del titular de
                                                    la cuenta de Usuario como condición indispensable previa al
                                                    depósito. Se le recomienda al Usuario, en caso de tener
                                                    inconvenientes con la visibilidad del importe devuelto, comunicarse
                                                    o realizar la consulta de la devolución con su entidad bancaria.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Validez de las promociones:</h2>
                                                <p>En el caso de que se realicen ofertas y promociones de productos,
                                                    estas tendrán validez para las compras efectuadas desde la fecha de
                                                    comienzo de las mismas hasta la de finalización de la oferta. Los
                                                    Términos y Condiciones de las ofertas serán comunicados en el
                                                    website, y estarán siempre sujetas a la existencia en stock de los
                                                    productos ofrecidos.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Impuesto al valor agregado (IVA):</h2>
                                                <p>Todos los precios expresados en el website incluyen IVA, salvo que se
                                                    indique lo contrario.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Garantía de los productos:</h2>
                                                <p>La garantía de los productos que se adquieren a través del website
                                                    cubre defectos de fabricación o de calidad sólo cuando han sido
                                                    utilizados para el fin que han sido fabricados. DABRA no cubre
                                                    defectos de producto de un uso indebido o abuso del producto, siendo
                                                    el cliente, en este caso, el único responsable.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Derecho de arrepentimiento. Devolución de los productos:</h2>
                                                <p>La Ley N° 24.240 (Ley de Defensa del Consumidor) establece en su
                                                    artículo 34 que el consumidor tiene derecho a revocar la aceptación
                                                    durante el plazo de DIEZ (10) días corridos, contados a partir de la
                                                    fecha en que se entregue el pedido o se celebre el contrato, lo
                                                    último que ocurra, sin responsabilidad alguna. Esta facultad no
                                                    puede ser dispensada ni renunciada.</p>
                                                <p>Es decir que, el Usuario tendrá derecho a devolver los productos
                                                    adquiridos en el website, durante el plazo diez (10) días corridos,
                                                    contados a partir de la entrega del producto en el domicilio
                                                    indicado por el Usuario, sin responsabilidad alguna conforme lo
                                                    establece la Ley de Defensa del Consumidor.</p>
                                                <p>Para ello, deberá notificar de manera fehaciente a DABRA, dentro del
                                                    plazo señalado, su decisión de devolver el producto, y poner a
                                                    disposición de DABRA el o los productos adquiridos para su
                                                    respectiva devolución. Los productos deberán estar en el mismo
                                                    estado en que fueron recibidos por el Usuario, sin haber sido
                                                    utilizados por éste, y con el embalaje original. DABRA devolverá al
                                                    usuario todos los importes abonados en el transcurso de 5 días
                                                    hábiles desde la recepción del producto en el centro de
                                                    distribución. Asimismo, si el o los productos hubieren sufrido
                                                    roturas o deterioros en tránsito, o fueren despachados
                                                    equivocadamente el Usuario deberá comunicarse con el centro de
                                                    atención al cliente de DABRA dentro del plazo antes mencionado, a
                                                    efectos de que DABRA proceda, según corresponda, a gestionar el re-
                                                    despacho de la compra o bien al retiro de la mercadería. En el
                                                    supuesto de los productos que hayan sufrido roturas o deterioros en
                                                    tránsito, estos no deben haber sido utilizados por el Usuario, y
                                                    deben encontrarse en las mismas condiciones en que fueron recibidos,
                                                    con sus embalajes y etiquetas. Por ejemplo, a mero título
                                                    ilustrativo, si el producto se encuentra en su envoltorio plástico
                                                    (“blíster”), este debe ser abierto en forma prolija y
                                                    cuidadosamente, caso contrario no podrá efectuarse el cambio del
                                                    mismo. El Usuario podrá cancelar una orden dentro de los diez (10)
                                                    días corridos de recibido el producto en el domicilio indicado por
                                                    el Usuario. Para ello deberá ponerse en contacto con DABRA, enviando
                                                    un correo electrónico a ecommerce@domino.com.ar, o a través
                                                    del área de atención al cliente.</p>
                                                <p>Si la cancelación de la compra es total, el Usuario podrá optar por:
                                                    (i) solicitar el reintegro del importe mediante el medio de pago que
                                                    se utilizó el Usuario para abonar su compra, o (ii) solicitar la
                                                    entrega de una nota de crédito a su favor para futuras compras. El
                                                    Usuario reconoce que en el caso del punto (ii) que antecede, DABRA
                                                    realizará otro envío, motivo por el cual deberá el Usuario abonar
                                                    nuevamente los gastos derivados del mismo.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Productos personalizados:</h2>
                                                <p>Los productos comprados que fueran personalizados no tienen cambio ni
                                                    devolución, ya sea por error del comprador o en el talle, como en la
                                                    elección de la personalización.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Moneda:</h2>
                                                <p>Todos los precios en el website están expresados en pesos argentinos,
                                                    moneda de curso legal de la República Argentina.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Medios de pago:</h2>
                                                <p>Tarjetas de crédito y débito: seleccionando esta opción el usuario
                                                    puede efectuar la compra mediante tarjetas de crédito o débito
                                                    emitidas por cualquier banco habilitado en nuestro sitio.</p>
                                                <p>A través de la plataforma de Mercado Pago con tarjetas de crédito o
                                                    débito.</p>
                                                <p>Pago Fácil: después de confirmar el pedido, un volante de pago se
                                                    mostrará con el valor total de tu pedido.</p>
                                                <p>El cliente deberá efectuar el pago en cualquier sucursal del país. El
                                                    plazo de entrega comienza a correr desde que Pago Fácil informa a
                                                    domino que el pago ha sido correctamente efectuado. El plazo normal
                                                    es de hasta 72h hábiles.</p>
                                                <p>DABRA podrá habilitar otras opciones, para facilitar las compras de
                                                    sus clientes. Todos los medios de pago están sujetos a que el
                                                    importe sea debidamente acreditado y/o verificado.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Envío de productos dentro del país. Tiempo de entrega:</h2>
                                                <p>Las entregas se realizarán en la dirección que el Usuario indique. La
                                                    validez del domicilio es de su exclusiva responsabilidad. No se
                                                    entregarán órdenes a casillas de correo o apartados postales. El
                                                    tiempo de entrega depende de la disponibilidad del producto, del
                                                    tiempo de envío y de la aprobación del medio de pago, como así
                                                    también de la distancia y del courrier. Los días que se indiquen son
                                                    estimativos, y corren siempre a partir del momento en que el pedido
                                                    se despacha del centro de distribución de DABRA. Los envíos se
                                                    realizan en toda la República Argentina, excepto la provincia de
                                                    Tierra del Fuego. Para conocer los tiempos promedio de entrega,
                                                    visite la sección de envíos. Al realizar una compra, el Usuario
                                                    recibe en su casilla de correo electrónico una confirmación de que
                                                    la orden de pedido ha sido aceptada junto a un número de pedido.</p>
                                                <p>Para asegurar la máxima eficacia en las entregas, éstas se realizan
                                                    mediante empresas especializadas. El tiempo de aprobación varía
                                                    según el medio de pago. En el caso de las tarjetas de crédito, el
                                                    Usuario deberá verificar que los datos proporcionados para la
                                                    autorización sean correctos.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Gastos de envío:</h2>
                                                <p>El Usuario será claramente informado de los costos de entrega antes
                                                    de realizar la compra y el precio que abonará por este servicio se
                                                    encuentra incluido en el precio total de la compra. Estos costos son
                                                    calculados en función del peso total y/o el volumen total del envío,
                                                    y también dependen de la zona del domicilio de entrega.</p>
                                                <p>Los costos de envío serán discriminados como ítem separado dentro de
                                                    la factura. DABRA está siempre trabajando para mejorar la calidad y
                                                    el costo de entrega para sus clientes.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Horarios de entrega:</h2>
                                                <p>Los productos serán entregados de lunes a viernes, entre las 9:00 y
                                                    las 18:00 horas, con excepción de los feriados nacionales. Cuando la
                                                    fecha de entrega coincida con un día feriado, se la pasara al
                                                    próximo día hábil. Los Usuarios no podrán elegir ni el horario ni el
                                                    día en que se entregarán el o los productos adquiridos. Podrán
                                                    hacerse sugerencias en el campo de observaciones al momento de
                                                    realizar la compra, las que quedarán supeditadas al circuito de la
                                                    empresa que tenga a su cargo el envío de los productos.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><strong>EXCEPCIONES: ENVÍO PRIORITARIO Y ENVÍO EXPRESS EN 24
                                                        HS</strong></p>
                                                <p>- Prioritario: el envío prioritario te permitirá recibir tu pedido en
                                                    un plazo de 2 a 7 días hábiles dependiendo de tu Código Postal y del
                                                    peso del pedido.</p>
                                                <p><br></p>
                                                <p>- Express: la entrega en 24 hs es un servicio premium destinado para
                                                    residentes de AMBA. Válido para compras realizadas con tarjeta de
                                                    crédito. Si el pedido se realiza antes de las 11 am, llegará ese
                                                    mismo día. Si no al siguiente.</p>
                                                <p><br></p>
                                                <p>También podés retirar tus pedidos en la sucursal disponible más
                                                    cercana a tu domicilio en el horario de atención al público.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Dirección de la entrega:</h2>
                                                <p>La dirección en donde se entregará el producto será la que el Usuario
                                                    indique. Podrá no coincidir con el domicilio consignado en el
                                                    formulario de registración. Para el caso en que el Usuario
                                                    seleccione la opción de enviar el Pedido a otro domicilio, deberá
                                                    especificar a nombre de quién se realizará dicho Pedido y su vínculo
                                                    o motivo por el cual realiza ese pedido. Es responsabilidad del
                                                    Usuario completar y revisar cuidadosamente la información
                                                    relacionada el domicilio en donde se realizará la entrega, para que
                                                    el envío de la compra se haga de manera efectiva y puntual. No se
                                                    realizan envíos a casillas de correo. DABRA no se responsabiliza por
                                                    la falta y/o error en la consignación de la dirección a los fines
                                                    del envío de los productos. En caso de necesitar solicitar un cambio
                                                    de dirección de entrega, este pedido deberá efectuarse en ocasión de
                                                    realizar el pedido de compra o bien a través del envío de un correo
                                                    electrónico a DABRA, o comunicándose con el call center, informando
                                                    la nueva dirección de entrega y el número de pedido. El Usuario no
                                                    podrá cambiar la dirección de entrega después de facturado el
                                                    pedido.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Consulta sobre el estado del envío:</h2>
                                                <p>Como parte del proceso de compra, DABRA enviará al cliente un correo
                                                    electrónico automático indicando el número de guía del envío, una
                                                    vez despachado el producto. De esta manera, el cliente podrá
                                                    realizar el seguimiento del estado (“tracking”) del pedido en
                                                    cualquier momento que lo desee, a través de la página del proveedor
                                                    de la logística. En caso de extravío u otro percance con el número
                                                    de seguimiento, el cliente podrá contactarse con atención al cliente
                                                    y solicitarlo nuevamente, indicando el número de pedido.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Facturación:</h2>
                                                <p>El Usuario tendrá a su disposición la factura electrónica con la
                                                    información clara y precisa de los productos comprados, el método,
                                                    plan de pago, y la moneda utilizados para la transacción. La factura
                                                    electrónica será enviada al correo electrónico consignado en el
                                                    formulario de registración, una vez confirmada la compra. En caso de
                                                    no recibirla y necesitar dicha documentación podrá contactarse a
                                                    través de ecommerce@domino.com.ar o bien comunicarse con
                                                    atención al cliente y automáticamente se le enviará la factura
                                                    solicitada. Las facturas son emitidas por DABRA.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Utilización del servicio “enviá este producto a un amigo”</h2>
                                                <p>Si el cliente elige usar el servicio “enviá este producto a un
                                                    amigo”, DABRA podrá requerir el nombre y correo electrónico de la
                                                    persona a quien se le remita, así como estos mismos datos tuyos. A
                                                    través de esta función, DABRA enviará un mail automático invitándolo
                                                    a visitar cierto producto en el sitio web. DABRA utilizará su correo
                                                    electrónico y el de la persona a quien se le remita solo para
                                                    enviarle esta comunicación y posterior seguimiento, pero dicha
                                                    información no será almacenada.</p>
                                                <p>De acuerdo con su política de privacidad, DABRA tomará los recaudos
                                                    necesarios para evitar el envío no solicitado de correos
                                                    electrónicos (spamming). DABRA y sus Usuarios no aceptan el spamming
                                                    o envío no solicitado de correos electrónicos. Por ello se establece
                                                    que está absolutamente prohibida la utilización del servicio “enviá
                                                    este producto a un amigo” con fines de spam, o envío indiscriminado
                                                    de mensajes de cualquier naturaleza por correo electrónico, con
                                                    cualquier finalidad que esto se realice. Por favor, no les envíes
                                                    este tipo de mensajes a quienes así te lo solicitan.</p>
                                                <p>DABRA podrá suspender o inhabilitar definitivamente a aquellos
                                                    Usuarios que utilicen este servicio con cualquier otro fin distinto
                                                    al previsto por este servicio y que sean denunciados por aquellas
                                                    personas que reciben tales mensajes.</p>
                                                <p>Cualquier persona que no desee recibir estas comunicaciones por mail
                                                    deberá solicitarlo a través de un mail a
                                                    ecommerce@domino.com.ar. El titular podrá en cualquier momento
                                                    solicitar el retiro o bloqueo de su nombre de los bancos de datos a
                                                    los que se refiere el presente artículo (art. 27 inc 3º, Ley 25.326)
                                                    En toda comunicación con fines de publicidad que se realice por
                                                    correo, teléfono, correo electrónico, Internet u otro medio a
                                                    distancia a conocer, se deberá indicar en forma expresa y destacada,
                                                    la posibilidad del titular del dato de solicitar el retiro o
                                                    bloqueo, total o parcial, de su nombre de la base de datos. A pedido
                                                    del interesado se deberá informar el nombre del responsable o
                                                    Usuario del banco de datos que proveyó la información” (párrafo 3º,
                                                    art. 27 del Anexo I, Dto. 1558/01).</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Prohibiciones:</h2>
                                                <p>Se les prohíbe terminantemente a los Usuarios:</p>
                                                <p>Enviar archivos o cualquier tipo de información cuyo contenido sea
                                                    ilegal, obsceno, abusivo, difamatorio, injurioso o contrario a las
                                                    buenas costumbres (la presente enumeración es meramente
                                                    ejemplificativa); Enviar archivos que contengan virus o cualquier
                                                    otra característica capaz de dañar el funcionamiento de una
                                                    computadora, del website o del sistema;</p>
                                                <p>Utilizar el website para violar cualquier tipo de norma vigente;</p>
                                                <p>Consignar datos falsos al momento de registrarse o realizar una
                                                    compra, o cualquier otro momento en que les sea requerida cualquier
                                                    tipo de información o datos personales; ofrecer productos o
                                                    servicios;</p>
                                                <p>Usar programas, software o aparatos automáticos o manuales para
                                                    monitorear o copiar la información o cualquier tipo de contenido del
                                                    sitio sin previo consentimiento de DABRA</p>
                                                <p>Imágenes</p>
                                                <p>Las imágenes asociadas a los productos que en la website
                                                    www.domino.com.ar aparezcan, son meramente ilustrativas.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Derechos reservados. Propiedad intelectual:</h2>
                                                <p>Todos los derechos del presente website están reservados y
                                                    corresponden a DABRA en virtud de los derechos de uso del dominio
                                                    www.domino.com.ar. El contenido del presente website, incluyendo
                                                    aunque no limitado al texto, logos, gráficos, y todo el diseño en
                                                    general, así como su base de datos y software, es de propiedad o uso
                                                    exclusivo de DABRA o tiene derecho a usarlo en virtud de licencias
                                                    de uso otorgadas y se encuentra protegido por las legislación
                                                    nacional e internacional vigente sobre propiedad intelectual.</p>
                                                <p><br></p>
                                                <p>Si el Usuario considera que en el website se viola o atenta de algún
                                                    modo contra derechos de propiedad intelectual de terceros deberá
                                                    notificarlo a DABRA en la dirección indicada en los presentes
                                                    Términos y Condiciones, o a ecommerce@domino.com.ar
                                                    acompañando toda la información y documentación necesaria que
                                                    respalde la mencionada consideración.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Razón social y domicilio legal:</h2>
                                                <p>La razón social de la empresa es DABRA S.A., con domicilio legal en
                                                    Uruguay 1037- 7B de C.A.B.A.</p>
                                                <p><br></p>
                                                <p>Notificaciones:</p>
                                                <p><br></p>
                                                <p>Todas las notificaciones y/o comunicaciones que deban efectuarse por
                                                    el uso de website bajo estos Términos y Condiciones, deberán
                                                    realizarse por escrito: (i) al Usuario: mediante correo electrónico,
                                                    a la cuenta de correo consignada por éste, o por carta documento, al
                                                    domicilio declarado en el formulario de registración; (ii) a DABRA:
                                                    a la cuenta de correo electrónico ecommerce@domino.com.ar , o
                                                    a su domicilio legal indicado en el punto anterior.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Avisos publicitarios y links:</h2>
                                                <p>Cuando el Usuario haga click en avisos publicitarios o links de
                                                    terceros e ingresa en otros sitios que no pertenecen a DABRA, estará
                                                    sujeto a los términos y condiciones de dichos sitios. El Usuario
                                                    deberá leer detenidamente sus políticas de acceso y uso.</p>
                                                <p>DABRA no garantiza la legalidad, actualidad, calidad ni utilidad de
                                                    los contenidos, operaciones e informaciones que se comuniquen,
                                                    reproduzcan y/o realicen en sitios enlazados de terceros ni la
                                                    ausencia de nocividad de tales contenidos o servicios, por lo que el
                                                    Usuario exime de toda responsabilidad a DABRA por los contenidos
                                                    incluidos en los referidos sitios o los servicios que en ellos se
                                                    brindan o promocionan.</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <h2>Jurisdicción y ley aplicable:</h2>
                                                <p>Los presentes Términos y Condiciones se encuentran regidos sin
                                                    excepción y en todos sus puntos por las leyes de la República
                                                    Argentina y serán interpretados de acuerdo con ellas. Ante cualquier
                                                    diferencia, desacuerdo o conflicto derivado de la interpretación,
                                                    validez, alcance y/o aplicación de los presentes Términos y
                                                    Condiciones, los Usuarios se comunicarán con DABRA de manera
                                                    fehaciente, haciéndole llegar su reclamo, para que las partes traten
                                                    de arribar a un acuerdo. En caso de que no sea posible arribar a una
                                                    solución, y para garantizar a los consumidores el pleno acceso a la
                                                    justicia, los Usuarios podrán elegir y someter su reclamo a una de
                                                    las siguientes opciones e instancias:</p>
                                                <p><br></p>
                                                <p>Sistema nacional de arbitraje de consumo del Ministerio de Economía y
                                                    Finanzas Públicas Nación. Los procedimientos ante este sistema son
                                                    gratuitos, y no es necesario contar con patrocinio letrado.
                                                    Asimismo, se garantiza el equilibrio entre las partes y la
                                                    transparencia del proceso, y los laudos emitidos por dicho tribunal
                                                    tienen autoridad de cosa juzgada y son irrecurribles (para saber más
                                                    sobre este sistema ingresar en http://www.mecon.gov.ar/snac)</p>
                                                <p>Dirección General de Defensa y Protección del Consumidor del Gobierno
                                                    de la Ciudad de Buenos Aires (para saber más sobre este sistema
                                                    ingresar en http://www.buenosaires.gov.ar)</p>
                                                <p>Tribunales ordinarios de la capital federal con competencia en la
                                                    materia.</p>
                                                <p>En el caso de que cualquiera de las opciones anteriores fuesen
                                                    gravosas o económicamente inviables para Usuarios domiciliados en el
                                                    exterior, las partes, a pedido del Usuario, determinarán de común
                                                    acuerdo un mecanismo mutuamente conveniente para resolver sus
                                                    diferencias. Asimismo, el Usuario podrá comunicarse con DABRA en
                                                    cualquier momento a los efectos de llegar a un acuerdo.</p>
                                                <p><br></p>
                                                <p><br></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </main>

            <!--Footer-->
            <%- include('./partials/footer') %>


                <%- include('./partials/scripts') %>
    </body>

</html>